<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="well well-large" style="height: 140px;">
    <div class="pull-right">
        <img src="{{user.avatar(128)}}" class="img-polaroid">
    </div>
    <h1>{{user.nickname}}</h1>
    {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
    {% if user.last_seen %}
    <p><em>{{ 'Last seen:' }} {{ momentjs(user.last_seen).calendar() }}</em></p>
    {% endif %}
    {% if user.id == g.user.id %}
        <a href="{{url_for('edit')}}">{{ 'Edit your profile' }}</a>
    {% endif %}
    </p>
</div>
{% endblock %}
